.xaxis path,
.xaxis line,
.yaxis path,
.yaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.xaxis text,
.yaxis text {
    font-family: sans-serif;
    font-size: 11px;
}
input {
    width: 100%;
    font-size: 14px;
    line-height: 2em;
}
.center-text {
    text-align: center;
}
li {
    cursor: pointer;
}
li:hover {
    background-color: #c8f4f7;
    cursor: pointer;
}
rect {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
rect:hover {
    fill: firebrick;
}


/*form css*/

.survey-container {
    height: 100px;
}

.survey-div {
    display: flex;
    width: 60%;
    margin: auto;
    flex-direction: column;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e7e7e7;
    flex: 1;
}

.question-choice-text {
    width: 100%;
}

.question-choice-text > input {
    border: 0;
    width: 95%;
    color: #263345;
    font-size: 12px;
    outline: none;
    margin-left: 10px;
}

.input-container > input:focus {
    border-bottom: 1.5px solid #263345;
}

.radio-choice-icon {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    border: solid 1px #e7e7e7;
    display: inline-block;
    vertical-align: middle;
}

.choice-div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating-star-div {
    display: inline-flex;
    text-align: center;
    flex: 1;
    margin-top: 30px;
}

.rating-question-div {
    width: 200px;
    display: flex;
}

.add-question-container {
    width: 100%;
    border-top: 1px solid #e7e7e7;
    height: 66px;
}

.next-question {
    width: 150px;
}

.input-container > input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #e7e7e7;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.05;
    color: #263345;
    padding: 0;
    padding-bottom: 4px;
    font-family: 'Museo Sans 500';
}

.main-container {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e7e7e7;
    display: flex;
}

.question-header-container .question-text {
    width: 73%;
}

.question-header-container .question-text > input {
    width: 98%;
}

.display-flex {
    display: flex;
}

.question-type-selector .drop-down-list {
    width: 180px;
    position: absolute;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px rgba(109, 109, 109, 0.2), 0 -1px 1px 0 rgba(0, 0, 0, 0.05);
    margin-top: 3px;
}

.drop-down-list .question-type-cell {
    height: 24px;
}

.drop-down-list .question-type-cell > div {
    padding: 0px 8px;
}

.drop-down-list .question-type-cell > p {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 0;
}

.question-type-selector {
    width: 180px;
    margin-left: 50px;
}

.question-type-selector .selected-object-container {
    height: 28px;
    border: 1px solid #97a2a3;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
}

.question-type-selector .selected-object-container > div {
    padding: 0px 8px;
    margin-top: 2px;
}

.question-type-selector .selected-object-container > p {
    font-size: 12px;
    display: flex;
    margin: 0;
    align-items: center;
}

.question-type-cell:hover {
    cursor: pointer;
    background-color: #c8f4f7;
}

.question-editable {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #e7e7e7;
    z-index: 1002;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.section-bottom-container {
    width: 100%;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    height: 50px;
}


