.xaxis path,
.xaxis line,
.yaxis path,
.yaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.xaxis text,
.yaxis text {
    font-family: sans-serif;
    font-size: 11px;
}
input {
    width: 100%;
    font-size: 14px;
    line-height: 2em;
}
.center-text {
    text-align: center;
}
li {
    cursor: pointer;
}
li:hover {
    background-color: #c8f4f7;
    cursor: pointer;
}
rect {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
rect:hover {
    fill: firebrick;
}
